* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* generals */

body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* utilities */

clearfix::after {
    display: table;
    content: '';
    clear: both;
}


section {
    height: 100vh;
}


#boat-shoes {
    background-color: #FF0000;
}

#old-school {
    background-color: #008000;
}

#chuck-taylor {
    background-color: #FFFF00;
}

