* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* generals */

body {
    font-family: 'Rubik Mono One', sans-serif;
}

section {
    height: 100vh;
    position: relative
}


/* utilities */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}



/* MAIN */


#boat-shoes {
    background-color: #FF0000;
}

#old-school {
    background-color: #008000;
}

#chuck-taylor {
    background-color: #FFFF00;
}


/* NAV */

nav {
    z-index: 1;
    position: fixed;
    top: 40px;
    right: 20px;
}

nav li {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    position: relative;
    margin: 10px;
}

nav a {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
}


/* CARDS */



.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card .title {
    color: yellow;
    font-size: 48px;
    text-align: center;
}

.text-green {
    color: green;
}

#chuck-taylor .title {
 color: green;
}