* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth

}

img {
    max-width: 100%;
}

/* generals */

html {
    overflow-y: hidden;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

section {
    height: 100vh;
    position: relative
}


/* utilities */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}



/* MAIN */


#boat-shoes {
    background-color: #FF0000;
}

#old-school {
    background-color: #008000;
}

#chuck-taylor {
    background-color: #FFFF00;
}


/* NAV */

.main-menu {
    z-index: 1;
    position: fixed;
    top: 40px;
    right: 20px;
}

.main-menu li {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    position: relative;
    margin: 10px;
    box-shadow: 4px 4px 4px black;
}

.main-menu li:hover {
    transform: scale(1.3);
}

.main-menu a {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
    transform: scale(1);
}


/* CARDS */



.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card .title {
    color: yellow;
    font-size: 48px;
    text-align: center;
    cursor: pointer;
}

.text-green {
    color: green;
}

#chuck-taylor .title {
 color: green;
}

.card img:hover {
    transform: scale(1.2);
}

#boat-shoes img {
    filter: drop-shadow(0 0 1rem yellow);
}

#old-school img {
    filter: drop-shadow(0 0 1rem yellow);
}

#chuck-taylor img {
    filter: drop-shadow(0 0 1rem green);
}